table tbody tr:hover td:not([rowspan]) {
    background-color: #757575 !important; /* Cor de fundo no hover */
    transition: 0.3s ease !important; /* Transição suave */
}

button.btn.red {
    margin-top: 0;
}

div.history-table {
    margin-top: 50px;
}

h4 {
    margin-bottom: 50px;
}