.table-container {
    height: auto;
    overflow-y: auto;
}

table {
    width: 100% !important; /* Garante que a largura seja aplicada */
    border-collapse: collapse !important; /* Remove espaçamento entre bordas */
}

table thead tr {
    border-bottom: 1px solid #757575 !important; /* Borda inferior no cabeçalho */
}

table th {
    text-align: center !important; /* Centraliza o texto */
    font-weight: bold !important; /* Deixa o texto em negrito */
}

table td {
    text-align: center !important; /* Centraliza o texto */
    padding: 32px !important; /* Adiciona espaçamento interno */
    border-bottom: 1px solid #757575 !important; /* Adiciona borda inferior */
}

/* Aplica o efeito de hover apenas às células que não possuem o atributo rowspan */
table tbody tr:hover td:not([rowspan]) {
    background-color: #757575 !important; /* Cor de fundo no hover */
    transition: 0.3s ease !important; /* Transição suave */
}

table tr:last-child td {
    border-bottom: 1px solid #757575 !important; /* Remove a borda inferior da última linha */
}